.bl {
    border-left-style: solid;
    border-left-width: 1px;
}

.b--blue {
    border-color: #408bc9;
}

.bw2 {
    border-width: .25rem;
}

.athelas {
    font-family: athelas, georgia, serif;
}

.fs-normal {
    font-style: normal;
}

.tracked {
    letter-spacing: .1em;
}

.lh-copy {
    line-height: 1.5;
}

.black-90 {
    color: rgba(0, 0, 0, .9);
}

.pa4 {
    padding: 2rem;
}

.pl4 {
    padding-left: 2rem;
}

.ml0 {
    margin-left: 0;
}

.mt0 {
    margin-top: 0;
}

.ttu {
    text-transform: uppercase;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.br-pill {
    border-radius: 9999px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.black {
    color: #000;
}

.near-black {
    color: #111;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.white {
    color: #fff;
}

.purple {
    color: #5e2ca5;
}

.light-purple {
    color: #a463f2;
}

.dark-pink {
    color: #d5008f;
}

.hot-pink {
    color: #ff41b4;
}

.dark-green {
    color: #137752;
}

.navy {
    color: #001b44;
}

.dark-blue {
    color: #00449e;
}

.bg-black {
    background-color: #000;
}

.bg-near-black {
    background-color: #111;
}

.bg-dark-gray {
    background-color: #333;
}

.bg-mid-gray {
    background-color: #555;
}

.bg-purple {
    background-color: #5e2ca5;
}

.bg-light-purple {
    background-color: #a463f2;
}

.bg-dark-pink {
    background-color: #d5008f;
}

.bg-hot-pink {
    background-color: #ff41b4;
}

.bg-dark-green {
    background-color: #137752;
}

.bg-navy {
    background-color: #001b44;
}

.bg-dark-blue {
    background-color: #00449e;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt4 {
    margin-top: 2rem;
}

.no-underline {
    text-decoration: none;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(.9);
}
@media screen and (min-width: 30em) and (max-width: 60em) {
    .f4-m {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 60em) {
    .f3-l {
        font-size: 1.5rem;
    }
}